// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
